
<div class="container col-5 text-center">
  <div [style.fontSize.px]="tamanio" class="bg-info text-center">
    <p>
      Crece y disminuye
    </p>
  </div>
      <button type="button" (click)="aumentar()" [disabled]= "tamanio>=500" class="btn btn-primary m-2">
        Aumentar
      </button>
      <button type="button" (click)="disminuir()" [disabled]= "tamanio<=5" class="btn btn-danger m-2">
        Disminuir
      </button>
      <div class="advertencia">
        <span class="text-danger">{{ texto }}</span>
      </div>
  </div>